body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
.Newbie {
  text-decoration: underline;
}

h1 {
  font-size: 5.625rem;
  color: #66bfbf;
  margin: 50px auto 0;
}
h2 {
  font-weight: normal;
  color: #66bfbf;
}

.top-container {
  padding-top: 100px;
  position: relative;
  background-color: #e4f9f5;
  text-align: center;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.middle-container {
}

.bottom-container {
}

.top-cloud {
  position: absolute;
  top: 50px;
  right: 300px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.computer-img {
  width: 25%;
  float: left;
}

.chillies-img {
  width: 25%;
  float: right;
}
