#title {
  background-color: #ff4c68;
  color: white;
}
.container-fluid {
  padding: 3% 15% 10%;
}
h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  line-height: 1.5;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  line-height: 1.5;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-brand {
  font-family: "Ubuntu", sans-serif;
  font-size: 3rem;
}

.navbar-custom .navbar-nav .nav-link {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 1.5rem;
  font-weight: normal;
}
.navbar {
  padding: 0 0 4.5rem;
}

.download-button {
  margin: 5% 3% 5% 0;
}

.title-img {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 150px;
}

#features {
  padding: 7% 15%;
  position: relative;
  background-color: white;
  z-index: 1;
}
.feature-box {
  text-align: center;
  padding: 4.5%;
}

.feature-icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.feature-icon:hover {
  color: #ff4c68;
}

#testimonials {
  background-color: #ef8172;
  color: white;
  text-align: center;
}

.carousel-item {
  padding: 7% 15%;
}

.testimonial-img {
  width: 10%;
  border-radius: 100%;
}

#press {
  background-color: #ef8172;
  padding-bottom: 50px;
  text-align: center;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

#pricing {
  text-align: center;
  padding: 100px;
}

.pricing-column {
  padding: 3% 2%;
}

#cta {
  padding: 50px 50px 10px 50px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  background-color: #ff4c68;
}

#footer {
  background-color: white;
  text-align: center;
  padding: 7% 15%;
}
.cta-heading {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  color: white;
}

.social-icon {
  margin: 20px 10px;
}
@media (max-width: 1085px) {
  .title-img {
    transform: rotate(0);
    position: static;
  }

  #title {
    text-align: center;
  }
}
