<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('header'); -%>
    <h1>Compose</h1>
    <form action="/compose" method="POST">
        <input type="text" placeholder="" name="composeContent"> 
        <button type="submit" >publish</button>
    </form>
    
    <%- include('footer'); -%>
</body>
</html>