<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>To-do</title>
</head>

<body>
    <div id="heading" class="box">
        <h1><%= listTitle %>!</h1>
    </div> 


    <div class="box">
        <%for(var i =0;i<List.length;i++){ %>
        <div class="item">
            <input type="checkbox">
            <p><%= List[i] %></p>
        </div>
        <% }%>
        <form class="item" action="/" method="POST">
            <input type="text" placeholder="New task" name="newItem" autocomplete="off">
            <button type="submit" name="button" value=<%=listTitle %>>+</button>
        </form>
    </div>
    






</body>

</html>